<!DOCTYPE html>
<html lang="en">

<head>
    <title>Clientes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-0" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">clientes</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/clientes">clientes</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Clientes Info</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table border="2" align="center">
                <caption>Clientes</caption>
                <tr align="center">
                    <td align="center" bgcolor="red">ID</td>
                    <th align="center" bgcolor="red">Nombres</th>
                    <th align="center" bgcolor="red">Apellidos</th>
                    <th align="center" bgcolor="red">Correo</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Estefani</td>
                    <td>Davila</td>
                    <td>estefani.davila@tecsup.edu.pe</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Yeshua</td>
                    <td>Layme</td>
                    <td>yeshua.layme@tecsup.edu.pe </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Yonela</td>
                    <td>Carbajal</td>
                    <td>yonela.carbajal@tecsup.edu.pe </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Chullunquia</td>
                    <td>Carlos</td>
                    <td>carlos.chullunquia@tecsup.edu.pe </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Victor</td>
                    <td>Mollocondo</td>
                    <td>victor.mollocondo@tecsup.edu.pe </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Rodrigo </td>
                    <td>Paredes</td>
                    <td>rodrigo.paredes@tecsup.edu.pe</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Gabriel</td>
                    <td>Quiñones</td>
                    <td>gabriel.quinones@tecsup.edu.pe</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Miguel</td>
                    <td>Soto</td>
                    <td>miguel.soto.t@tecsup.edu.pe </td>
                </tr>
            </table>


            </table>
        </div>
    </div>
</div>
</body>

</html>