<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bienvenidos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
                <a class="navbar-brand" href="#">Laboratorio</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/views/clientes">clientes</a></li>
                    <li><a href="/views/productos">Productos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenidos</h1>

            <br>
            <p><a class="btn btn-primary btn-lg" href="/views/clientes" role="button">ver cliente Info</a></p>
            <p><a class="btn btn-primary btn-lg" href="/views/productos" role="button">Ver productos info</a></p>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>veremos : clientes y productos</h3>
                <p>Veremos un poco de bootstrap y css</p>
            </div>
            <div class="col-md-6">
                <h3>Integrantes</h3>
                <p>Davila Guerra, Estefani</p>
                <p>Carbajal Valdivia, Yonela Isamar</p>
                <p>Chullunquia Tellez, Carlos Ernesto</p>
                <p>Layme Castilla, Yeshua Josue</p>
                <p>Mollocond0 Mendoza, Victor Rodrigo</p>
                <p>Paredes Alarcon, Rodrigo Gonzalo</p>
                <p>Quiñones del Carpio, Gabriel Omar</p>
                <p>Soto Tapia, Miguel Angel</p>
            </div>
        </div>
    </div>
</body>

</html>